/* Global CSS */

html,
body {
    height 100%;
    font-family: 'Muli', sans-serif;
}

.bg-dark-gray {
    border-color: #3A3A3A;
}

.bg-offwhite {
    border-color: #f1f1f1;
}

body h1 {
    font-size: 2.7em;
    margin-top: 0px;
    letter-spacing: 0.025em;
}

body h3 {
    font-size: 2em;
}

body h5 {
    font-size: 1.2em;
}

.no-padding {
    padding: 0;
}

/* Navbar */

#menu-toggle {
    position: fixed;
    z-index: 1;
    top: 0;
    border: 0.25px solid #999;
    right: 0;
}

.toggle {
    font-size: 1em;
    margin: 10px 10px 0 0;
    padding: 12px 18px;
}

.sidebar-nav span {
    color: rgba(227, 24, 55, 0.65);
}

.sidebar-nav > .sidebar-brand:hover span {
    color: rgba(227, 24, 55, 1);;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.sidebar-nav > .sidebar-brand {
    margin-bottom: 15px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
    font-size: 25px;
}

.sidebar-nav > .sidebar-brand:hover a {
    color: #fff;
    background: none;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.sidebar-nav li a {
    font-size: 17px;
    margin: 6px 0px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: none;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E31837;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


/* Header */

.header {
    background: url(../imgs/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.header h1 {
    color: #F1F1F1;
    font-size: 3.4em;
    padding: 400px 0;
}


/*Who We Are */

#whoWeAre {
    padding: 15em 0;
}

#whoWeAre h5 {
    line-height: 180%;
    padding-top: 2em;
}


/* About Us */

#about {
    /*background: #FCF6F6;*/
    position: relative;
    padding: 6em 0;
}

#about:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 180%;
    top: 0;
    transform: skewY(-4deg);
    background: #FCF6F6;
}

.portfolio-item img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.portfolio-item img:hover {
    opacity: 1;
    -webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -o-transform: scale(1.015);
    transform: scale(1.015);
}

#about .content {
    padding-top: 2em;
}

#about .row-regular {
    padding: 1.75em 0;
}

#about .row-reverse {
    flex-direction: row-reverse;
    padding: 1.75em 0;
}

#about img {
    border-radius: 50%;
    box-shadow: 0 4px 40px rgba(0,0,0,0.15);
}

#about .main-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 3em 0 3em;
}

#about h3 {
    line-height: 200%;
    color: rgba(227, 24, 55, 0.8);
}

#about h5 {
    line-height: 180%;
}


/* Meeting Time */


#meeting-time {
    padding: 6em 0;
}


#meeting-time h2 {
    font-weight: bold;
}

#meeting-time .maps-location {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

#meeting-time .carousel {
    padding-top: 2em;
}

#meeting-time .imgs-display {
    padding-top: 2em;
}

#meeting-time .meeting-images {
    padding-top: 2em;
    padding-bottom: 0.75em;
}


/* Connect With Us */

#connect {
    padding: 6em 0;
    background: #F1F1F1;
}

#connect h3 {
    color: #E31837;
}

#connect h4 {
    padding-top: 0.1em;
}

#connect .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#connect .contact-btn {
    text-align: center;
}


#connect button {
    background-color: #E31837;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    padding: 15px 16px;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

#connect button:hover,
#connect button:focus {
    background-color: #FF677F;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-2.5px);
}


/* Footer */

footer {
    background-color: #0E0E0E;
    color: #F1F1F1;
    padding: 1.25em 0;
}

footer .foot-links {
    padding-bottom: 10px;
}

footer h4 {
    padding: 0.5em 0;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 700;
    opacity: 0.7;
}

footer img {
    width: 27px;
    height: 27px;
    opacity: 0.7;
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -ms-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

footer img:hover {
    opacity: 1;
}

/* Media Queries */

@media (max-width: 992px) {

    .header h1 {
        font-size: 3.2em;
    }

    #connect .contact-btn {
        padding-top: 20px;
        text-align: initial;
    }

}

@media (max-width: 768px) {

    .header h1 {
        font-size: 2.8em;
    }

    .toggle {
        margin: 10px 45px 0 0;
    }

    #menu-toggle {
        margin: 10px 10px 0 0;
    }

    #sidebar-wrapper.active {
        right: 250px;
        width: 210px;
    }

    .header {
        background-attachment: scroll !important;
    }

    .header h1 {
        padding: 200px 0;
    }

    footer img {
        width: 30px;
        height: 30px;
    }

    #blog .blog-header .social-icons {
        display: none;
    }
}



/* Members Page */
#members {
    box-shadow: 0 -16px 45px rgba(0,0,0,0.15);
    transform: skewY(-6deg);
    transform-origin: 0;
}


/* Members Header */

.members-header {
    height: 650px;
    background: -webkit-linear-gradient(left, #E31837 , #CC1631);
    transform: skewY(-6deg);
    transform-origin: 0;
}

.members-header .text-vertical-center {
    transform: skewY(6deg);
}

#members .my-flex {
    display: flex;
    justify-content: center;
}

#members .members-section {
    transform: skewY(6deg);
    transform-origin: 0;
}

#members .member {
    padding: 1em 0;

}

#members h3 {
    margin: 0;
    padding: 0.25em 0;
}

#members .position {
    padding: 0.25em 0;
}

#members ul {
    padding: 0;
}

#members .profile-pic img {
    border-radius: 50%;
}

#members .social-links li {
    list-style: none;
}



/* Blog Page */

.blog-header {
    background: #da6060;
}

.blog-header h1 {
    padding: 180px 0 160px 0;
    color: white;
    font-size: 4em;
}

.blog-header .social-icons {
    display: flex;
    padding-bottom: 20px;
    transition: opacity 0.4s ease-in-out;
}

.blog-header .social-icons a {
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
}

.blog-header .social-icons a:hover {
    opacity: 1;
}

.blog-header .social-icons img {
    width: 30px;
    height: 30px;
}

#post-feed {
    padding-top: 40px;
    background: #FCF6F6;
    display: flex;
}

#post-feed .blog-post {
    margin: 0 20px 40px;
    flex: 1 1 300px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(39,44,49,.1),0 3px 16px rgba(39,44,49,.07);
    transition: all 0.4s ease-in-out;
}

#post-feed .blog-post:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 15px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
}

#post-feed .blog-post a {
    text-decoration: none;
    color: #212529;
}

#post-feed .blog-post-content {
    padding: 25px 25px 0;
}

#post-feed .blog-post .blog-post-image {
    width: auto;
    height: 200px;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover;
}
